<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>thymeleaf Foreach Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
	function view_skill(mainId, subId) {
		var mainObj = document.getElementById(mainId);
		var subObj = document.getElementById(subId);
		
		mainObj.style.visibility = "visible";
		subObj.style.visibility = "hidden";	
	}
	function view_passive(mainId, subId) {
		var mainObj = document.getElementById(mainId);
		var subObj = document.getElementById(subId);

		mainObj.style.visibility = "hidden";
		subObj.style.visibility = "visible";
	}
</script>
</head>
<body>
	<input type="button" onclick="view_skill('skill', 'passive')"
		value="Skill" />
	<input type="button" onclick="view_passive('skill', 'passive')"
		value="Passive" />
	<table id="skill" border="1"
		style="position: absolute; visibility: visible;">
		<thead>
		</thead>
		<tbody th:each="item : ${skillList}">
			<tr>
				<td rowspan="2" th:text="${item.skillImg}">SkillImage</td>
				<td colspan="2" th:text="${item.skillName}">SkillName</td>
				<td><input type="button"
					th:onclick="'alert(\'' + ${item.skillName} + '\');'" value="+" />LvlUp</td>
			</tr>
			<tr>
				<td th:text="${item.skillLvlPoint}">SkillPoint</td>
				<td th:text="${item.skillNowLvl}">SkillLvl</td>
				<td><input type="button"
					th:onclick="'alert(\'' + ${item.skillNowLvl} + '\');'" value="-" />LvlDown</td>
			</tr>
		</tbody>
	</table>
	<table id="passive" border="1"
		style="position: absolute; visibility: hidden;">
		<thead>
		</thead>
		<tbody th:each="item : ${passiveList}">
			<tr>
				<td rowspan="2" th:text="${item.skillImg}">SkillImage</td>
				<td colspan="2" th:text="${item.skillName}">SkillName</td>
				<td><input type="button"
					th:onclick="'alert(\'' + ${item.skillName} + '\');'" value="+" />LvlUp</td>
			</tr>
			<tr>
				<td th:text="${item.skillLvlPoint}">SkillPoint</td>
				<td th:text="${item.skillNowLvl}">SkillLvl</td>
				<td><input type="button"
					th:onclick="'alert(\'' + ${item.skillNowLvl} + '\');'" value="-" />LvlDown</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
